.post-article { padding: 100px 55px 10px; }

.content {margin: 0 auto;}

.title {
  background-color: #94af98;
  padding: 6px 10px;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  &.narrow { width: 90%; }
}

.box {
  width: 45%;
  flex: 45%;
  margin: 20px;
}
.image0 { max-width: 100%; }

.image1 {
  display: inline-block;
  height: 527px;
  margin-bottom: 25px;
}
.image2 {
  max-height: 377px;
  margin-bottom: 25px;
}

// attachments
.attach {
  margin: 20px 0;
  height: 400px;
  position: relative;
  
}
.attach2 { background: url('../images/n27.jpg') no-repeat center left/cover fixed; }
.attach3 { background: url('../images/n36.jpg') no-repeat top left/cover fixed; }

.backImage {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  
  img { object-fit: cover; width: 100%;}
}
.backImage0 {
  display: inline-block;
  height: 727px;
  margin-bottom: 25px;
  width: 90%;
}
.backImage1 { max-width: 80%; }
.backImage2 { max-width: 100%; }
.backImageOn { 
  height: 670px; 
  max-width: 65%;
}

.textLight {
  padding: 40px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

// porady
.subtitle {
  display: inline-block;
  padding: 5px 8px;
  background-color: #94af98;
  border-radius: 3px;
}

@media (max-width: 740px) {
  .post-article { padding-top: 10px; }
  .flex { justify-content: center;}
  .box {
    width: 100%;
    flex: 100%;
  }
  .image1 {
    height: 337px;
  }
  .backImageOn { height: 310px; max-width: 100%; }
  .attach { height: 180px; }
  .attach2 { background: url('../images/n27.jpg') no-repeat center left/contain fixed; }
  .attach3 { background: url('../images/n36.jpg') no-repeat top left/contain fixed; }
}