* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  font-family: 'Inconsolata', monospace, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #122916;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a {
  color: #122916;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
mark {
  background-color: #ff0;
  color: #000;
}
figure {
  margin: 1em 40px;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
textarea {
  overflow: auto;
}
img {
  max-width: 100%;
  height: 100%;
  border-radius: 3px;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}
ul, ol {
  display: inline-block;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
p {
  margin-bottom: 1.45rem;
  text-align: inherit;
  line-height: 1.6;
}

fieldset, form {
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-bottom: 1.45rem;
}
li {
  margin-top: .8rem;
  margin-bottom: calc(1.45rem / 2);
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
